Leah Neukirchen <leah@vuxu.org> <chneukirchen@gmail.com>
Mickaël Riga <mig@mypeplum.com>
James Tucker <jftucker@gmail.com>
Ravil Bayramgalin <brainopia@evilmartians.com>
Pavel Rosicky <pavel.rosicky@easy.cz>
Yuichiro Kaneko <spiketeika@gmail.com>
Yoshiyuki Hirano <yhirano@me.com>
Dima Fatko <fatkodima123@gmail.com>
Yudai Suzuki <3280467rec@gmail.com>
Marc-André Cournoyer <macournoyer@gmail.com>
Megan Batty <megan@stormbrew.ca> <graham-git@stormbrew.ca>
Megan Batty <megan@stormbrew.ca> <graham@graham-battys-macbook.local>
Richard Schneeman <richard.schneeman@gmail.com> <richard.schneeman+foo@gmail.com>
Richard Schneeman <richard.schneeman@gmail.com>
Wyatt Pan <wppurking@gmail.com>
Kazuya Hotta <khotta116@gmail.com>
Julik Tarkhanov <me@julik.nl>
