language: ruby
sudo: false
cache:
  - bundler
  - apt

services:
  - memcached

addons:
  apt:
    packages:
      - lighttpd
      - libfcgi-dev

before_install:
  - gem update --system 2.7.4
  - gem install bundler

script: bundle exec rake ci

rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2.4
  - 2.3.0
  - ruby-head
  - rbx-2
  - jruby
  - jruby-9.0.4.0
  - jruby-head
  - ree

notifications:
  email: false
  irc: "irc.freenode.org#rack"

matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: jruby-head
