name: Documentation

on:
  push:
    branches:
      - main
      - documentation-*

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  generate:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ruby
        bundler-cache: true
    
    - name: Generate main documentation
      timeout-minutes: 5
      run: |
        bundle exec rdoc --op docs/main --main README.md --template-stylesheets contrib/rdoc.css
        cp -r contrib docs/main

    - name: "Generate 3.2 documentation"
      timeout-minutes: 5
      run: |
        gem install rack --version "< 3.3"
        gem unpack rack -v "< 3.3"
        cd rack-3.2*
        cp ../.rdoc_options .
        bundle exec rdoc --op ../docs/3.2 --main README.md --template-stylesheets ../contrib/rdoc.css
        cp -r ../contrib ../docs/3.2

    - name: "Generate 3.1 documentation"
      timeout-minutes: 5
      run: |
        gem install rack --version "< 3.2"
        gem unpack rack -v "< 3.2"
        cd rack-3.1*
        cp ../.rdoc_options .
        bundle exec rdoc --op ../docs/3.1 --main README.md --template-stylesheets ../contrib/rdoc.css
        cp -r ../contrib ../docs/3.1

    - name: "Generate 3.0 documentation"
      timeout-minutes: 5
      run: |
        gem install rack --version "< 3.1"
        gem unpack rack -v "< 3.1"
        cd rack-3.0*
        cp ../.rdoc_options .
        bundle exec rdoc --op ../docs/3.0 --main README.md --template-stylesheets ../contrib/rdoc.css
        cp -r ../contrib ../docs/3.0

    - name: "Generate 2.2 documentation"
      timeout-minutes: 5
      run: |
        gem install rack --version "< 2.3"
        gem unpack rack -v "< 2.3"
        cd rack-2.2*
        cp ../.rdoc_options .
        bundle exec rdoc --op ../docs/2.2 --main README.rdoc --template-stylesheets ../contrib/rdoc.css
        cp -r ../contrib ../docs/2.2

    - name: Upload documentation artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: docs
  
  deploy:
    runs-on: ubuntu-latest
    
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    
    needs: generate
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
