name: Test External

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: ['2.7', '3.0', '3.1']

    runs-on: ${{matrix.os}}
    env:
      CI: external

    steps:
    - uses: actions/checkout@v3

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true

    - name: Installing packages (ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install libfcgi-dev libmemcached-dev

    - name: Installing packages (macos)
      if: matrix.os == 'macos-latest'
      run: brew install fcgi libmemcached

    - run: bundle exec bake test:external
